.features-list {
   @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
   }
}

.feature-list__item {
   width: 100%;
   &:not(:last-child) {
      margin-bottom: 30px;
   }

   @media screen and (min-width: $tablet) {
      flex-basis: calc((100% - 30px) / 2);
      
      &:not(:last-child) {
         margin-bottom: 0px;
      }
   }

   @media screen and (min-width: $desktop) {
      flex-basis: calc((100% - 3 * 30px) / 4);
   }
}

.svg-wrapper {
   position: relative;
   max-width: 450px;
   height: 120px;
   margin-bottom: 30px;
   background-color: rgba(245, 244, 250, 1);

   .svg-wrapper__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

   }
}

.feature-list__title {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   text-align: center;

   margin-bottom: 10px;

   color: var(--primary-title-color);

   @media screen and (min-width: $tablet), (min-width: $desktop) {
      text-align: start;
   }
}

.feature-list__text {
   color: var(--text-paragraph-color);
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
}