.page-footer {
   background-color: var(--bg-color-hero-footer);
   @media screen and (min-width: $desktop) {
      padding-top: 60px;
      padding-bottom: 60px;
   }
}

.page-footer__wrapper {
   @media screen and (min-width: $desktop) {
      display: flex;
   }
}

.footer-box {
   @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 60px;
    text-align: center;
   }

   @media screen and (min-width: $desktop) {
      display: flex;
      align-items: baseline;
   }
}

.footer-navigation {
   @media screen and (max-width: $pre-tablet) {
      text-align: center;
      margin-bottom: 60px;
   }

   @media screen and (min-width: $desktop) {
      margin-right: 70px;
   }
}

.footer-navigation__link {
   display: block;
   margin-bottom: 20px;
   @media screen and (min-width: $desktop) {
      font-size: 26px;
      line-height: 1.19;
   }
}

.navigation__logo--white {
   color: var(--hero-title-color);
}

.adr-list__item {
   &:not(:last-child) {
      margin-bottom: 8px;
   }

   @media screen and (min-width: $tablet) and (max-width: $pre-desctop) {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
   }
   

   @media screen and (min-width: $desktop) {
      margin-bottom: 9px;
      &:last-child {
        margin-bottom: 0;
      }
   }
}


.adr-list__link {
   color: var(--hero-title-color);
   text-decoration: none;
   font-style: normal;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;

   transition: color var(--animation);

   &:hover,
   &:focus {
      color: var(--accent-color);
   }
}

.adr-list__link--contact {
   color: var(--link-auth-low-color);
   text-decoration: none;
   font-style: normal;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;

   transition: color var(--animation);

   &:hover,
   &:focus {
      color: var(--accent-color);
   }
}

.join {
   @media screen and (max-width: $pre-tablet) {
      text-align: center;
      margin-bottom: 60px;
   }

   @media screen and (min-width: $desktop) {
      margin-right: 93px;
   }
}

.join__title{
   margin-bottom: 20px;

   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--hero-title-color);
}

.chain-footer__item {
   width: 44px;
   height: 44px;
   
   background-color: rgba(255, 255, 255, 0.1);

   transition: background-color var(--animation);

   &:hover,
   &:focus {
      background-color: var(--accent-color);
   }
}

.chain-footer__link {
   border-radius: 50%;
   color: var(--hero-title-color);
   transition: color var(--animation);
   &:hover,
   &:focus {
      background-color: var(--accent-color);
   }
}

.chain-footer__icon{
   fill: currentColor;
}

.follow {
   @media screen and (max-width: $pre-desctop) {
      text-align: center;
   }

   @media screen and (min-width: $desktop) {
      align-items: baseline;
      margin-top: 12px;
   }
}

.submit {
   @media screen and (min-width: $desktop) {
      display: flex;
   }
}

.submit-form__input {
   width: 450px;
   height: 50px;

   margin-bottom: 20px;

   border-color: rgba(255, 255, 255, 0.3);
   background-color: var(--bg-color-hero-footer);
   color: var(--hero-title-color);

   @media screen and (min-width: $desktop) {
      width: 358px;
      margin-right: 12px;
   }
}

.submit-form__input::placeholder {
   color: var(--link-auth-low-color);
   font-size: 16px;
   line-height: 1.25;
}

.submit__button {
   position: relative;
   display: flex;
   align-items: center;
   
   margin-right: auto;
   margin-left: auto;

   width: 200px;
   height: 50px;
}

.submit__icon {
   margin-left: 10px;
}