.partners__title {
   @media screen and (min-width: $desktop) {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.17;
   }
}

.partners-list {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}

.partners-list__item {
   width: 210px;
   height: 92px;

   flex-basis: calc((100% - 30px) / 2); 

   @media screen and (min-width: $tablet) {
      flex-basis: calc((100% - 2 * 30px) / 3);
      width: 226px;
   }

   @media screen and (min-width: $desktop) {
      flex-basis: calc((100% - 5 * 30px) / 6);
      width: 170px;
   }
}

.partners-list__link {
   display: flex;
   justify-content: center;
   align-items: center;

   height: 92px;
   
   color: var(--partners-color_border);
   border: 1px solid var(--partners-color_border);
   border-radius: 4px;

   transition: color var(--animation);
   &:hover,
   &:focus {
      color: var(--accent-color);
      border: 1px solid var(--accent-color);
   }
}

.partners-list__icon {
   fill: currentColor;
}
