.team {
   background-color: var(--secondary-bg-color);
}

.team__title {
   @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
   }
}

.workers-list {
   @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
}

.workers-list__item {
   // width: 450px;

   &:not(:last-child) {
      margin-bottom: 30px;
   }

   background-color: var(--primary-bg-color);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
   0px 1px 1px rgba(0, 0, 0, 0.14), 
   0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;

   @media screen and (min-width: $tablet) {
      flex-basis: calc((100% - 30px) / 2);
      &:not(:last-child) {
         margin-bottom: 0px;
      }
   }

   @media screen and (min-width: $desktop) {
      width: 270px;
      flex-basis: calc((100% - 3 * 30px) / 4);
   }
}

.description {
   margin-top: 30px;
   margin-bottom: 16px;
}

.description__name {
   text-align: center;

   margin-bottom: 10px;

   color: var(--primary-title-color);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
   letter-spacing: 0.03em;
}

.description__profession {
   text-align: center;
   margin-bottom: 16px;

   color: var(--text-paragraph-color);
   font-size: 16px;
   line-height: 1.19;
   letter-spacing: 0.03em;
}

.chain-list {
    padding-bottom: 24px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: $desktop) {
      padding-bottom: 30px;
    }
}

.chain-list__item {
   background-color: var(--hero-title-color);
   transition: background-color var(--animation);
   &:hover,
   &:focus {
      background-color: var(--accent-color);
   }
}

.chain-list__link {
   color: rgba(175, 177, 184, 1);
   transition: color var(--animation);
   &:hover,
   &:focus {
      color: var(--hero-title-color);
   }
}

.chain-list__icon {
   fill: currentColor;
}